<div class="team-panel">
  <div class="heading">
    <h4>
      <%= link_to "#{team.name}", "#team-#{team.id}", data: { toggle: "collapse", parent: "#teams" } %>
      <%= content_tag :span, class: 'available-badge' do %>
        <%= team.number_of_available_positions %> available
      <% end %>
      <%= position_display(team.leadership_role) %>
    </h4>
  </div>
  <ul id="team-<%= team.id %>" class="panel-collapse collapse list-group">
    <%= render partial: 'jobs/job_list_item', collection: team.jobs, as: :job %>
  </ul>
</div>