<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-6">
        <h2 class='section-header well'><% provide :title, "#{@team.name}" %>
          <%= @team.name %> for <%= @team.event.name %></h2>
        <div class="job-info well"> 
          <p><%= link_to 'Edit', edit_team_path(@team) %> |
             <%= link_to 'Delete', team_path(@team), 
                                   method: :delete,
                                   :data => { :confirm => 'Are you sure? This will delete all
                                                           jobs within this team' } %></p>
          <% if @team.leadership_role.available? %>
            <%= form_for @team.leadership_role do |f| %>
              <%= f.hidden_field :signing_up, :value => true %>
              <%= f.submit "Take the lead!", :class => "submit-no-button" %>
            <% end %>
          <% elsif can? :update, @team.leadership_role %>
            <%= link_to ((@team.leader == current_user) ? "Resign" : "Unassign"), leadership_role_path(@team.leadership_role, :leader => { :resigning => false }), :method => :patch, :class => "remove" %>
          <% end %>

          <% if @team.leader %>
            <h4>Team lead: <%= "#{@team.leader.first_name} #{@team.leader.last_name}" %></h4> 
          <% end %>

          <% if can? :create, @job %>
            <div id='new-job'>
              <h4>Add a job to this team</h4>
              <%= render 'jobs/form' %>
            </div>
          <% end %>
        <div class="comment-section well-event">
        <p> Comments about this team: </p>
          <% if @team.comments.any? %>
            <% @team.comments.each do |comment| %>
              <%= render comment %>
            <% end %>
          <% else %>
            <p>No comments yet. Add some notes!</p>
          <% end %>
          <%= render 'comments/form' %>
        </div>
        </div> 
      </div>   
      <div class="col-md-6">
        <div id='jobs-list' class="well">
          <% @team.jobs.each do |job| %>
            <%= render job %>
          <% end %>
        </div>
      </div> 
      </div>  
    </div>
  </div>
</div>
     
