<h1><%= @team.name %> for <%= @team.event.name %></h1>
<p><%= link_to 'Edit', edit_team_path(@team) %> |
   <%= link_to 'Delete', team_path(@team), 
                         method: :delete,
                         :data => { :confirm => 'Are you sure? This will delete all
                                                 jobs within this team' } %></p>

<button class="btn btn-primary btn-block" id="add-job-button">Add a job to this team</button>

<% if @team.leadership_role.nil? %>
  <%= render 'leadership_roles/form' %>
<% elsif can? :destory, @team.leadership_role %>
  <%= link_to 'Resign', leadership_role_path(@team.leadership_role), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<div id='new-job'>
  <h4>Add a job to this team</h4>
  <%= render 'jobs/form' %>
</div>

<hr>

<div id='jobs-list'>
  <% @team.jobs.each do |job| %>
    <%= render job %>
  <% end %>
</div>
