<h1><%= @team.name %> for <%= @team.event.name %></h1>
<p><%= link_to 'Edit', edit_team_path(@team) %> |
   <%= link_to 'Delete', team_path(@team), 
                         method: :delete,
                         :data => { :confirm => 'Are you sure? This will delete all
                                                 jobs within this team' } %></p>

<% if @team.leadership_role.available? %>
  <%= form_for @team.leadership_role do |f| %>
    <%= f.hidden_field :signing_up, :value => true %>
    <%= f.submit "Take the lead!", :class => "submit-no-button" %>
  <% end %>
<% elsif can? :update, @team.leadership_role %>
  <%= form_for @team.leadership_role do |f| %>
    <%= f.hidden_field :resigning, :value => false %>
    <%= f.submit "Resign!", :class => "submit-no-button" %>
  <% end %>
<% end %>

<% if @team.leader %>
  <h4>Team lead: <%= "#{@team.leader.first_name} #{@team.leader.last_name}" %></h4> 
<% end %>

<% if can? :create, @job %>
  <div id='new-job'>
    <h4>Add a job to this team</h4>
    <%= render 'jobs/form' %>
  </div>
<% end %>

<hr>

<div id='jobs-list'>
  <% @team.jobs.each do |job| %>
    <%= render job %>
  <% end %>
</div>
