<h1>Add tasks</h1>
<% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h3>Please correct these problems</h3>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for [@job, @task], remote: true do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description, :size => "25" %>
  <%= f.hidden_field :done, :value => false %>
  <%= f.submit :class => 'sign-in-button-small' %>
<% end %>
