<div class="job-descriptions">
  <h4>Job Title: <%= link_to job.name, job_path(job) %></h4>
  <% if job.taken? %>
    <div>Taken by: <%= job.user.first_name %> <%= job.user.last_name %></div>
  <% else %>
    <%= form_for job do |f| %>
      <%= f.hidden_field :signing_up, :value => true %>
      <%= f.submit "Sign Up!", :method => :patch, :class => "submit-no-button" %>
    <% end %>
  <% end %>
  <% if job.owned_by?(current_user) %>
    <%= form_for job do |f| %>
      <%= f.hidden_field :resigning, :value => true %>
      <%= f.submit "Resign!", :method => :patch, :class => "submit-no-button" %>
    <% end %>
  <% end %>

  <p> Description: <%= job.description %></p>
  <% if can? :manage, job %>
    <%= link_to "Delete", job_path(job), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    <%= link_to "Edit", edit_job_path(job) %> 
  <% end %>  
</div>
