<div class="job-descriptions">
  <h3>Job Title: <%= link_to job.name, job_path(job) %></h3>
  <% if job.taken? %>
    <p><span class='label'>Taken by:</span> <%= job.user.first_name %> <%= job.user.last_name %></p>
  <% else %>
    <%= form_for job do |f| %>
      <%= f.hidden_field :signing_up, :value => true %>
      <%= f.submit "Sign Up!", :method => :patch, :class => "submit-no-button" %>
    <% end %>
  <% end %>

  <p><span class='label'>Description:</span> <%= job.description %></p>

  <% if job.try(:due_date) %>
    <p><span class='label'>Due Date:</span> <%= job.due_date.to_time.strftime("%b %-d, %Y") %></p>
  <% end %>

  <% if can? :update, job %>
    <div class="edit-delete-indent">
      <p>This job is <%= job.done ? "complete." : "not complete." %> <%= link_to "Change status", job_path(job, :job => {:job_done => true}), :method=> :patch, :class => "remove" %></p>
      <p><%= link_to "Add Task", new_job_task_path(job), id: "new_job_task_link", remote: true %>
      <%= link_to "Delete", job_path(job), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <%= link_to "Edit", edit_job_path(job) %>
      <%= link_to (job.owned_by?(current_user) ? "Resign" : "Unassign"), job_path(job, :job => { :resigning => true }), :method => :patch, :class => "remove" %></p>
    </div>
  <% end %>

  <% if job.tasks.count > 0 %>
    <div class="task-group">
      <div>
        <h4>Not Done</h4>
        <ul id="not-done-task-list">
          <% job.incompleted_tasks.each do |task| %>
            <li><%= render 'jobs/task_form', :task => task %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <h4>Done</h4>
        <ul id="done-task-list">
          <% job.completed_tasks.each do |task| %>
            <li><%= render 'jobs/task_form', :task => task %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

