<div class="job-descriptions">
  <h2><%= link_to job.name, job_path(job) %></h2>
  <% if job.taken? %>
    <h5>Leader: <%= link_to "#{job.user.first_name}", user_path(job.user) %> <%= link_to (job.owned_by?(current_user) ? "Resign" : "Unassign"), job_path(job, :job => { :resigning => true }), :method => :patch, :class => "remove" %></h5>
  <% else %>
    <div class="take-job">
      <%= form_for job do |f| %>
        <%= f.hidden_field :signing_up, :value => true %>
        <%= f.submit "Take the Lead!", :method => :patch, :class => "submit-no-button" %>
      <% end %>
    </div>

    <div class="assign-job">
      <%= form_for job do |f| %>
        <%= f.hidden_field :signing_up, :value => true %>
        <%= f.label :user, "Assign to" %>
        <%= f.collection_select(:user_id, User.all, :id, :first_name)%>
        <%= f.submit "Submit", :method => :patch, :class => "submit-no-button" %>
      <% end %>
    </div>
  <% end %>

  <% if can? :update, job %>
    <div class="edit-delete-indent">
      <p>This job is <%= job.done ? "complete." : "not complete." %> <%= link_to "Complete", job_path(job, :job => {:job_done => true}), :method=> :patch, :class => "remove" %></p>
      <p><%= link_to "Add Task", new_job_task_path(job), class: "new_job_task_link", remote: true %></p>
    </div>
  <% end %>

  <% if job.tasks.count > 0 %>
    <div class="task-group">
      <div>
        <h4>Not Done</h4>
        <ul class="not-done-task-list">
          <% job.incompleted_tasks.each do |task| %>
            <li><%= render 'jobs/task_form', :task => task %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <h4>Done</h4>
        <ul class="done-task-list">
          <% job.completed_tasks.each do |task| %>
            <li><%= render 'jobs/task_form', :task => task %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

