<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-6">
        <h2 class='section-header well'>Edit Profile</h2>
        <div class="job-info well">
        <h2>Please enter your information</h2>
        <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <h3>Please correct these problems</h3>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <%= form_for @user, :html => { :multipart => true } do |f| %>

          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :autofocus => true, :class =>'form-control-sign-in' %>
          </div>

          <div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :class =>'form-control-sign-in' %>
          </div>

          <div>
           <%= f.label :city %></br>
           <%= f.collection_select(:city_id, City.all, :id, :name)%>
          </div>

           <div>
            <%= f.label :phone %>
            <%= f.text_field :phone, :class =>'form-control-sign-in' %>
          </div>

          <div>
            <%= f.label :email %>
            <%= f.email_field :email, :class =>'form-control-sign-in' %>
          </div>

          <div>
          <%= f.label :birthday %>
          <%= f.date_select :birthday, :start_year=>1900 %>
          </div>

          <div>
            <%= f.label :gender %>
            <%= f.select(:gender, [['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']]) %>
          </div>

          <div>
            <%= f.label :photo, "Photo" %>
            <%= f.file_field :photo %>
          </div>

          <div>
            <%= f.submit "Update", :class => "sign-in-button-small" %>
          </div>
        <% end %>
        <%= link_to "Back", :back %>
      </div>
      </div>
    </div>
  </div>
</div>
