<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-8">
        <h2 class='section-header well'>
          <% if @user == current_user %>
            Welcome back <%= @user.first_name %>
          <% else %>
            <%= @user.first_name %>'s profile
          <% end %>
        </h2>

          <%= render 'commitments', events: @user.commitment_events, user: @user %>
      </div>
      <div class="col-md-8 ">

         <ul>
          <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
          <li>Role: <%= @user.role %></li>
          <li>Phone: <%= @user.phone %></li>
          <li>Email: <%= @user.email %></li>
          <li>Gender: <%= @user.gender %></li>
          <li>Birthday: <%= @user.birthday %></li>
          <li>City: <%= @user.city.name %></li>
         </ul>

        </div>
      </div>

    <% if @user == current_user %>
      <%= link_to "Edit", edit_user_path(current_user) %>
    <% end %>
    </div>
  </div>
</div>
