<div class="">
  <h1><%= link_to event.name, event_path(event.id), :class => 'event-name' %></h1>

  <h3>Location: <%= event.city.name %></h3>

  <h3>Starts on:</h3><medium><%= event.start.to_time.strftime("%b %-d, %Y @ %-I:%M%P") %></medium>
  <h3>Ends on:</h3><medium><%= event.finish.to_time.strftime("%b %-d, %Y @ %-I:%M%P") %></medium>
  <h3>Description:</h3> <span><p><%= event.description %></p></span>

  <% if can? :manage, event %>
    <div class="text-align">
      <p><%= link_to "Edit Event", edit_event_path(event) %></p>
      <p><%= link_to "Delete", event_path(event), :method => :delete, :data => { :confirm => 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>
