<tr>
  <td><%= link_to event.name, event_path(event) %></td>
  <td><%= event.city.name %></td>
  <td><%= event.start.strftime("%b %-d, %Y @ %-I:%M%P") %></td>
  <td><%= event.leader ?  link_to(event.leader.first_name, user_path(event.leader)) : "Take the lead" %></td>
  <td class="table-teams">
    <%= "#{event.number_of_teams_with_leaders}/#{event.number_of_teams}" %>
  </td>
  <td class="table-jobs">
    <%= "#{event.number_of_jobs_with_volunteers}/#{event.number_of_jobs}" %>
  </td>
  <td>
    <%= "#{event.unique_volunteers.count}" %>
  </td>
</tr>
