<% if Event.where(template: true).find_by_name(@event.name) == nil %>
  <%= form_tag '/templates' do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= submit_tag 'Save as Template' %>
  <% end %>
<% end %>
<h1 class="event-name"><%= event.name %></h1>
  <% if can? :manage, event %>
    <%= link_to "Edit", edit_event_path(event) %> <%= link_to "Delete", event_path(event), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  <% end %>
  <% if @event.leadership_role.available? %>
    <%= form_for @event.leadership_role do |f| %>
      <%= f.hidden_field :signing_up, :value => true %>
      <%= f.submit "Take the lead!", :class => "submit-no-button" %>
    <% end %>

  <% elsif can? :update, @event.leadership_role %>
      <%= link_to (@event.leadership_role.owned_by?(current_user) ? "Resign" : "Unassign"), leadership_role_path(@event.leadership_role, :leadership_role => {:resigning => false}), :method => :patch, :class => "remove" %>
  <% end %>
  <% if @event.leader %>
    <h4>Event lead: <%= "#{@event.leader.first_name} #{@event.leader.last_name}" %></h4>
  <% end %>
<h4><%= event.city.name %></h4>
<h4>Start: <%= event.start.to_time.strftime("%b %-d, %Y @ %-I:%M%P") %></h4>
<h4>End: <%= event.finish.to_time.strftime("%b %-d, %Y @ %-I:%M%P") %></h4>
<p><%= event.description %></p>





