<div class="col-md-12">
  <h2>All Events</h2>

  <% if current_user.role? :admin || :superadmin %>
    <%= form_tag events_path, :method => :get do %>
      <%= collection_select :city, :id, City.all, :id, :name, {:include_blank => 'Select City'}, {:selected => @city ? @city.id : ""}  %>
      <%= submit_tag 'Filter' %>
    <% end %>
  <% end %>

  <div id="events-calendar">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @events_by_date[date] %>
        <ul>
          <% @events_by_date[date].each do |event| %>
            <li><%= link_to event.name, event %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class='row text-center'>
    <%= will_paginate @events %>
  </div>

  <div class="events-responsive", id="events-table">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Start</th>
          <th>Event leader</th>
          <th>Teams</th>
          <th>Jobs</th>
          <th>Volunteers</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'event_table_row', collection: @events.future, as: :event %>
      </tbody>
    </table>
  </div>

  <div class="events-responsive" id="upcoming-table">
    <h2>Upcoming events in 24hrs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Start</th>
          <th>Event leader</th>
          <th>Teams</th>
          <th>Jobs</th>
          <th>Volunteers</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'event_table_row', collection: @events.upcoming, as: :event %>
      </tbody>
    </table>
  </div>

</div>
