<div class="col-md-11">
  <h2>All Events</h2>
  <select>
    <option value="Portland">Portland</option>
    <option value="Seattle">Seattle</option>
    <option value="San Francisco">San Francisco</option>
  </select>

  <div id="events-calendar">
    <%= calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Start</th>
          <th>Event leader</th>
          <th>Teams</th>
          <th>Jobs</th>
          <th>Volunteers</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.city.name %></td>
          <td><%= event.start.strftime("%b %-d, %Y @ %-I:%M%P") %></td>
          <td><%= event.leader ?  link_to(event.leader.first_name, user_path(event.leader)) : "Take the lead" %></td>
          <td><%= "2/6" %></td>
          <td><%= "3/10"  %></td>
          <td><%= 2  %></td>
          </tr>
       <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-8">
    <h2>Upcoming events in 24hrs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Start</th>
          <th>Event leader</th>
          <th>Teams</th>
          <th>Jobs</th>
          <th>Volunteers</th>
        </tr>
      </thead>
    </div>
  </div>
</div>
