<% provide :title, "#{@event.name}" %>
<%= render @event %>
<% if can? :update, @event %>
  <%= link_to "Add jobs", new_job_path(:job => { workable_id: @event.id, workable_type: 'Event' }) %>
  <%= link_to "Add a team", new_team_path(:team => { event_id: @event.id }) %>
<% end %>

<% if @event.leadership_role.available? %>
  <%= form_for @event.leadership_role do |f| %>
    <%= f.hidden_field :signing_up, :value => true %>
    <%= f.submit "Take the lead!", :class => "submit-no-button" %>
  <% end %>
<% elsif can? :update, @event.leadership_role %>
  <%= form_for @event.leadership_role do |f| %>
    <%= f.hidden_field :resigning, :value => false %>
    <%= f.submit "Resign!", :class => "submit-no-button" %>
  <% end %>
<% end %>

<% if @event.leader %>
  <h4>Event lead: <%= "#{@event.leader.first_name} #{@event.leader.last_name}" %></h4> 
<% end %>

<% if @event.jobs.any? %>
  <h3>Jobs for this event</h3>
  <% @event.jobs.each do |job| %>
    <%= render job %>
  <% end %>
<% elsif @event.teams.any? %>
  <h3>Teams</h3>
  <% @event.teams.each do |team| %>
    <%= render team %>
  <% end %>
<% else %>
  <h3>No jobs have been created for this event.</h3>
<% end %>


