<% provide :title, "#{@event.name}" %>

<div class="event">
  <div class="event-info">
    <h1 class="event-name"><%= @event.name %></h1>
    <div class="description">
      <p><%= @event.description %></p>
    </div>
    <div class="aside">
      <span class="start">
        <%= @event.start.strftime('%D') %>
      </span> - 
      <span class="finish">
        <%= @event.finish.strftime('%D') %>
      </span>
    </div>
  </div>

  <div id="teams">
    <%= render partial: 'teams/team_panel', collection: @event.teams, as: :team %>
  </div>
</div>
  
 
