<% provide :title, "#{@event.name}" %>

<div class="event">
  <div class="event-header">
    <h1><%= @event.name %></h1>
    <h4><%= event_date_range(@event) %></h4>
  </div>
  <div class="event-info">
    <h5>Lead volunteer: <%= position_display(@event.leadership_role) %></h5>
    <p class="description">
      <%= @event.description %>
    </p>
  </div>

  <div class="event-positions">

    <div id="teams">
      <h4>Teams</h4>
      <%= render partial: 'teams/team_panel', collection: @event.teams, as: :team %>
    </div>

    <div id="event-jobs">
      <h4>
        Other jobs
        <%= content_tag :span, class: 'available-badge' do %>
          <%= @event.number_of_available_event_jobs %> available
        <% end %>
      </h4>
      <ul class="list-group">
        <%= render partial: 'jobs/job_list_item', collection: @event.jobs, as: :job %>
      </ul>
    </div>

  </div>
</div>
  
 
