<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
        <div class="event-info well">

          <h2><% provide :title, "#{@event.name}" %></h2>
          <% if Event.where(template: true).find_by_name(@event.name) == nil %>
            <%= form_tag '/templates' do %>
              <%= hidden_field_tag :event_id, @event.id %>
              <%= submit_tag 'Save as Template', :class => "btn btn-warning btn-xs" %>
            <% end %>
          <% end %>

          <%= form_tag '/emails' do %>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= submit_tag 'Send volunteer invitations', :class => "btn btn-warning btn-xs" %>
          <% end %>


          <%= render @event %>
          <% if can? :update, @event %>

            <%= link_to "Add jobs", new_job_path(:job => { workable_id: @event.id, workable_type: 'Event' }), :class => "btn btn-primary btn-xs", id: "new_job_link", remote: true %>

            <%= link_to "Add a team", new_team_path(:team => { event_id: @event.id }), :class => "btn btn-primary btn-xs", id: "new_team_link", remote: true %>
          <% end %>

          <% if @event.leadership_role.available? %>
            <%= form_for @event.leadership_role do |f| %>
              <%= f.hidden_field :signing_up, :value => true %>
              <%= f.submit "Take the lead!", :class => "submit-no-button" %>
            <% end %>

          <% elsif can? :update, @event.leadership_role %>
            <%= link_to (@event.leadership_role.owned_by?(current_user) ? "Resign" : "Unassign"), leadership_role_path(@event.leadership_role, :leadership_role => {:resigning => false}), :method => :patch, :class => "remove" %>
          <% end %>
          <% if @event.leader %>
            <h4>Event lead: <%= "#{@event.leader.first_name} #{@event.leader.last_name}" %></h4>
          <% end %>
          </div>
          <div class="event-info well">
         <% if @event.teams.any? %>
            <div id="event-teams">
              <% @event.teams.each do |team| %>
                <%= render team %>
              <% end %>
            </div>
          <% end %>
          <div id="event-jobs">
            <% if @event.jobs.any? %>
              <%= render @event.jobs %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
