<h1>Cities</h1>

<div class="form-group">
  <%= form_for @city do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :size => "25", placeholder: 'Portland, OR' %>
    <%= f.submit 'Add' %>
  <% end %>
</div>

<ul>
  <% @cities.each do |city| %>
    <li><%= city.name %> <%= link_to '(remove)', city_path(city), method: :delete %></li>
  <% end %>
</ul>
