<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><%= link_to image_tag("ChickTech_color_change.jpg", :class => 'logo-image'), events_path, :class => 'navbar-brand' %></a></li>
      <% if user_signed_in? %>

        <li>Hello, <%= current_user.first_name %><li>
        <% if current_user.role? :admin %>
          <li><%= link_to "Events", '/events', :class => 'nav-font' %> (<%= Event.future.count %>)</li>
          <li><%= link_to "New Event", "/events/new", :class => 'nav-font' %></li>
        <% elsif current_user.role? :volunteer %>
          <li><%= link_to "All Volunteers", users_path, :class => 'nav-font' %></li>
          <li><%= link_to "Events", events_path, :class => 'nav-font' %></li>
        <% end %>
        <% if current_user.role? :superadmin %>
          <li><%= link_to "Volunteers", users_path, :class => 'nav-font' %></li>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-font"><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'nav-font' %></li>
      <% end %>
    </ul>
  </div>
</div>
