<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div id="wrapper">
  <div class="container">  
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>




  <%= yield %>
  </div>
</div>
<!-- <footer>
  <div class="container-footer">
    <div class="row">
      <div class="col-md-4">&copy; 2013</div>
      <div class="col-md-4">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">About Us</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="text-right">Project by Epicodus*</h3>
      </div>
    </div>
  </div>
</footer> -->

</body>
</html>
